<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<div id="tooltip" class="hidden">
				<p>
					<strong>Percentage Value</strong>
				</p>
				<p>
					<span id="value">100</span>%</p>
			</div>
			<h2>D3 FIT</h2>
			<svg style="padding:10px;" width="730" height="375"></svg>
			{{!--
			<svg style="border: solid black 5px;" width="960" height="500"></svg> --}}


		</div>
	</div>
</div>