

<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<h2>D3 FIT</h2>
			<svg style="padding:10px;" width="730" height="375"></svg>
			{{!-- <svg style="border: solid black 5px;" width="960" height="500"></svg> --}}


		</div>
	</div>
</div>